//Mixins
.clear{
    clear: both;
    width: 100%;
    float: none;
    display: block;
}
//Transitions and effects
.ease{
    -webkit-transition: all 850ms ease-in-out;
    -moz-transition: all 850ms ease-in-out;
    -o-transition: all 850ms ease-in-out;
    transition: all 850ms ease-in-out;
}

.ease_slow{
    -webkit-transition: all 1500ms ease-in-out;
    -moz-transition: all 1500ms ease-in-out;
    -o-transition: all 1500ms ease-in-out;
    transition: all 1500ms ease-in-out;
}

.ease_slower{
    -webkit-transition: all 1800ms ease-in-out;
    -moz-transition: all 1800ms ease-in-out;
    -o-transition: all 1800ms ease-in-out;
    transition: all 1800ms ease-in-out;
}

.ease_slowest{
    -webkit-transition: all 2100ms ease-in-out;
    -moz-transition: all 2100ms ease-in-out;
    -o-transition: all 2100ms ease-in-out;
    transition: all 2100ms ease-in-out;
}

.ease_fast{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.ease_faster{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


.ease_bg{
    transition: background-image 850ms ease-in-out;
}

//Fonts
.font_normal{
    font-family: 'MontserratLight';
}
.font_bold{
    font-family: 'Montserrat';
}
.font_thin{
    font-family: 'MontserratHairline';
}

.absolutecenter{
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)!important; 
}

.centerx{
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.centery{
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
