//@import url(./resets.less);
@import url(./mixins.less);
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


//mixins

@golden: #daa520;


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
    font-family: 'open_sansbold';
    src: url('font/osans/opensans-bold-webfont.eot');
    src: url('font/osans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/osans/opensans-bold-webfont.woff') format('woff'),
         url('font/osans/opensans-bold-webfont.ttf') format('truetype'),
         url('font/osans/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('font/osans/opensans-regular-webfont.eot');
    src: url('font/osans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/osans/opensans-regular-webfont.woff') format('woff'),
         url('font/osans/opensans-regular-webfont.ttf') format('truetype'),
         url('font/osans/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

//Type

h1, h2, h3, h4{
    font-weight: normal;
    color: @golden;
}

h2{
    font-family: 'Cinzel', serif!important;
	font-size:30px;
}
h3{
    font-family: 'Cinzel', serif!important;
	font-size:25px;
}

html, body{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

body{
    background: url(/images/bg-concept.jpg) bottom center repeat-x #000;
	font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
    font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
	color: #CCC;
    font-size: 15px;
}

main{
    display: flex;
    flex-flow: column;
    height: 100%;
}

nav{
    min-height: 200px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    padding-bottom: 20px;
    padding-top: 50px;
    opacity: 0;
    #logo{
        width: calc(900px/1.5);
        height: calc(150px/1.5);
        background: url('/images/final-logo.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    ul#games{
        margin-top: 30px;
        display: flex;
        gap: 25px;
        li{
            font-size: 0;
            width: calc(150px/1.5);
            height: calc(120px/1.5);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            filter: saturate(0);
            &#BO{
                background-image: url('/images/BO1-Logo.png');
            }
            &#BO2{
                width: 185px;
                height: 80px;
                background-image: url('/images/BO2-Logo.png');
            }
            &#SR{
                width: 180px;
                background-image: url('/images/SR1-Logo.png');
            }
            &#SR2{
                width: 160px;
                background-image: url('/images/SR2-Logo.png');
            }
            &#DEF{
                width: 220px;
                background-image: url('/images/lok-defiance.png');
            }
        }
    }
}

section#container{
    flex: 1;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    //padding-top: 200px;
    position: relative;

    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-size: cover;
    mask-size: cover;

}
div.scrollarea{
   //position: absolute;
    width: 100%;
    height: 100%;
    //height: calc(100vh - 200px);
    //height: 500px;
    overflow-x: hidden;
    overflow-y: overlay;
    //padding-left: 100px;
}
#contents{
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    //display: flex;
    //padding-left: 100px;
    display: flex;
}

div#stream{
    //position: absolute;
	left: 0;
    min-height: 150px;

    display: flex;
    flex-flow: column;
    /* Apply WebKit mask for the fade effect */
    

    .line {
        background: url(/images/TL_mainbg.png) repeat-y;
        width: 81px;
        .ease_fast;
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
        -webkit-mask-size: cover;
        mask-size: cover;
        //flex: 1;
    }

    // &:before, &:after{
    //     content: '';
        
    // }

    &:before{
        content: '';
        background:url(/images/TL_start.png) no-repeat;
	    height:218px;
        width: 100%;
        width: 81px;
        position: relative;
    }
    // &:after{
    //     background:url(/images/TL_end.png) no-repeat;
    //     height:218px;
    // }
}

ul#timeline{
    list-style: none;   
    max-width: 800px;
    margin-bottom: 700px;
    li{
        margin-bottom: 30px;
        opacity: 0;
        .ease_fast;
        h3{
            //margin-top: 80px;
            color: #CCC;
        }
        h2{
            &:before{
                content: '‹';
                margin-right: 10px;
            }
            &:after{
                content: '›';
                margin-left: 10px;
            }
        }
        a{
            color: #CCC;
            text-decoration: none;
            &:after{
                content: '';
                background-image: url('/images/paradox-btn-bg.png');
                width: 50px;
                height: 50px;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        b{
            font-weight: 700;
        }
        &.visible{
            opacity: 1;
        }
        &.detail{
            padding: 0 15px;
            font-size:12px;
            color:#9b9b9b;
        }

        //hide time travel elements
        &.time-travel{
            // opacity: 0;
            // height: 0;
            // margin: 0;
        }
        &.show{
            opacity: 1;
            min-height: 100px;
        }
    }
}

//TEST line overlay
.event {
    position: relative;
    //min-height: 200px;

    &:before {
        content: '';
        position: absolute;
        width: 81px;
        height: 500%; /* Make the pseudo-element 150% higher than the container */
        left: -81px; /* Align with the left edge of the li */
        top: 50%;
        transform: translateY(-50%);
        background: url(/images/TL_mainbg.png) repeat-y;
        mix-blend-mode: difference; /* Blend mode for the overlay effect */
        z-index: 2; /* Ensure this is above the line */
        
        -webkit-mask-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
        mask-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
        -webkit-mask-size: cover;
        mask-size: cover;
    }
}


#marker{
    position: fixed;
    top: 50%;
    right: 0;
    width: 50px;
    height: 50px;
    background: white;
}